[Unit]
Description=MQTT Remote access Server

[Service]
Restart=always
ExecStartPre=/bin/sleep 10
ExecStart=/usr/local/sbin/remote_request.sh
PIDFile=/var/run/remote_request.pid

[Install]
WantedBy=multi-user.target